<ul class="list-unstyled">
    <li><a href="https://twitter.com/ljrain"><i class="fa fa-twitter"></i> Twitter (ljrain)</a></li>
    <li><a href="https://github.com/ljrain"><i class="fa fa-github"></i> GitHub (ljrain)</a></li>
    <li><a href="https://www.linkedin.com/in/lourainaldi/"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
</ul>