Title: About
Image: images/monitors.jpg
---

<p>H.</p>
<p>I am currently the Principal Platform Engineer working on internal enterprise applications.</p>

This is a test.

<p>I have profiles scattered around the web at the following sites:</p>
@Html.Partial("_SocialLinks")
