[Pp]ackages/
[Tt]ools/*
[Oo]utput/
nuget.exe
*.zip
/debug.log
/*.packages.xml
/*.wyam.hash
/*.wyam.dll
.firebase/hosting.cHVibGlj.cache
.firebase/hosting.cHVibGlj.cache
.firebase/hosting.cHVibGlj.cache
.firebase/hosting.cHVibGlj.cache
resources/_gen/assets/css/css/custom.css_bb111fbc4c623156488239a411da645a.content
resources/_gen/assets/css/css/custom.css_bb111fbc4c623156488239a411da645a.content
