@charset "UTF-8";

.nav_wrapper {
  background-image: url("images\city_pgh_the_point.jpg");

}
.pic_bw_left {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  float: left;
  width: 25%;
}

.pic_bw_right {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  float: right;
  width: 25%;
}

.image_50_perc {
  width: 20%;
}

.pic_width25 {
  width: 25%;
}

.polaroidleft {
  width: 40%;
  background-color: white;
  float: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.polaroidright {
  width: 40%;
  background-color: white;
  float: right;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.polaroid {
  width: 40%;
  background-color: white;
  float:none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
